---
title: "Complex Claim Verification with Evidence Retrieved in the Wild"
authors: "Jifan Chen, Grace Kim, Aniruddh Sriram, Greg Durrett, Eunsol Choi"
venue: "Proceedings of NAACL 2024"
paperUrl: "https://aclanthology.org/2024.naacl-long.196/"
timestamp: 2024-06-01
---
